.main{
    width: 100vw;
    min-height: 100vh;
    min-width:100vw;
    background-color: rgb(243, 243, 243);
    padding: 0;
    margin: 0;
    
}

.paper{
  padding: 8px; /* Equivalente a p: 2 en theme-ui */
  display: flex;
  flex-direction: column;
}