.mainHeaderNav {
  background-color: #cb2028;
  padding-bottom: 5px;
}

.mainServices {
  background-color: white;
  
}

.logoHFabLab {
  width: 5rem;
  height: 100%;
  background-color: white;
  border-radius: 50%;
}

.textNav {
  padding-top: 15%;
  font-size: 1rem;
  color: white;
}

.imgService {
  border-radius: 8px;
}
