.mainHeaderNav {
  background-color: #e20613;
  border-end-end-radius: 30px;
}

.mainServices {
  background-color: white;
  
}

.logoHFabLab {
  width: 5rem;
  height: 100%;
  background-color: white;
  border-radius: 50%;
}

.textNav {
  padding-top: 15%;
  font-size: 1rem;
  color: white;
}

.imgService {
  border-radius: 8px;
}
