.mainHeaderNav{
    width: 100vw;
    height: 100%;
    min-width:96vw;
    background-color: #E20613;
    overflow: hidden;
    border-end-end-radius: 30px;
}

.mainServices{
    width: 100vw;
    height: 100vh;
    min-width:100vw;
    background-color: white;
    overflow: hidden;
    padding: 0;
    margin: 0;
    
}

.logoHFabLab{
    width: 15rem;
}

.textNav{
    padding-top: 15%;
    font-size: 1rem;
    color: white;
}

.container{
    padding-top: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.imgService{
    border-radius: 8px;
}