.logo{
    width:25%
}

.mainSignIn{
    max-width: 500px;
    min-width: 300px;
    max-height: 950px;
    width: 100%;
    height: 70%;
    margin: 100px auto;
    border: solid 1px #00000000;
    border-radius: 20px ;
    background-color: white;
}

.mainRegister{
    max-width: 0px;
    min-width: 300px;
    max-height: 950px;
    width: 100%;
    height: 70%;
    margin: 100px auto;
    border: solid 1px #00000000;
    border-radius: 20px ;
    background-color: white;
}

body{
    background-image: url("../public/img/fondoLogin.jpg" );
    background-size: cover;
    background-repeat: no-repeat;
    
}

.button{
    background-color: #AF1C32;
}

* {
    font-family: "Co Headline Regular";
    margin: 0;
    padding: 0;
  }