.mainHeaderNav{
    width: 100vw;
    height: 100%;
    min-width:96vw;
    background-color: #E20613;
    border-end-end-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.mainServices{
    width: 100vw;
    min-height: 100vh;
    min-width:100vw;
    background-color: white;
    padding: 0;
    margin: 0;
    
}

.logoHFabLab{
    width: 15rem;
}

.textNav{
    padding-top: 15%;
    font-size: 1.2rem;
    color: white;
}

.container{
    padding-top: 2rem;
    padding-left: 8%;
    padding-right: 8%;
}

.imgService{
    border-radius: 8px;
    width: 100%;
}

.paddingContainer{
    padding: 4%;
}

.cardImg{
    padding: 2%;
}

.imgIcon{
    width: 2rem;
    padding-right: 2%;
}

.Button{
    width: 100%;
}

@media (max-width: 1096px) {
    /* Cambios de estilo para pantallas con ancho máximo de 768px */
    .MuiGrid-item {
      width: 100% !important; /* Establecer ancho al 100% para apilar en una columna */
    }
  }
  