
.mainServices{
    
    padding: 0px;
    margin-top: 75px;
    
}


.imgService{
    width: 100%;
    max-height: 200px;
    object-position: center;
    object-fit: contain;
}

.paddingContainer{
    padding: 2%;
}

.GridPrintersImg{
    align-content: center;
}

.ItemPrinter{
    display: flex;
    min-height: 250px;
    border: solid rgb(121, 113, 113) 1px;
}


@media (max-width: 1096px) {
    /* Cambios de estilo para pantallas con ancho máximo de 768px */
    .MuiGrid-item {
      width: 100% !important; /* Establecer ancho al 100% para apilar en una columna */
    }
  }
  